SERVER_BACKEND_URL=http://host.docker.internal:3001
AGENT_HOST_NAME=
AGENT_RECONNECT_SECONDS=5
# Путь внутри контейнера (совпадает с левой частью volume ниже)
AGENT_PASSWORD_JSON_PATH=/opt/agent/agent-credentials.json
