SERVER_BACKEND_URL=https://animating-lukewarm-sizably.ngrok-free.dev
AGENT_HOST_NAME=test-agent
AGENT_RECONNECT_SECONDS=5

# для поднятия докер композ
PROJECT_DEPLOYMENT_PATH=/opt/vneocheredi_auto_release_up/deploy_vneocheredi
COPY_FOLDER_FOR_DEPLOY_PATH=/opt/vneocheredi_auto_release_up/copy_docker_files_vneocheredi
STATE_PROJECT_FILE_NAME=status-project.json

IMAGE_ENV_KEY=VNEOCHEREDI_VERSION

ServiceLinkEnvKeys__Admin=DNS_NAME_BACKOFFICE
ServiceLinkEnvKeys__Server=DNS_NAME_SERVER
ServiceLinkEnvKeys__Portal=DNS_NAME_RDV
ServiceLinkEnvKeys__Call=DNS_NAME_CALL

REGISTRY_URL=registry.ft-soft.ru
REGISTRY_USER='robot$stage-vm'
REGISTRY_PASSWORD=2bTEelADf1o4ofFhSgJ0kbWLaQ6qmlua
HARBOR_REPOSITORY=vneocheredi/admin

DATABASE_PASSWORD_ENV_KEYS=POSTGRES_PASSWORD|MASTER_POSTGRES_PASSWORD

AGENTS_JSON_FILE_PATH=/opt/vneocheredi_auto_release_up/deploy_auto_up_release/agents.json
